@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    img {
        @apply rounded-xl border-2 border-slate-200 dark:border-slate-800 opacity-90;
    }
}

@layer components {    
    article a[href^="https://"]:after {
        content: "";
        width: 14px;
        height: 14px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        filter: brightness(0) saturate(100%) invert(56%) sepia(78%) saturate(1449%) hue-rotate(174deg) brightness(108%) contrast(95%);
    }
}

@layer utilities {

    .language-csharp .token.function {
        @apply text-green-300
    }

    .language-csharp .token.punctuation {
        @apply text-slate-300
    }

    .language-csharp .token.operator {
        @apply text-slate-300
    }

    .language-csharp .token.keyword {
        @apply text-sky-500
    }

    .language-csharp .token.plain {
        @apply text-sky-200
    }

    .language-csharp .token.string {
        @apply text-slate-300
    }

    .language-sql .token.plain {
        @apply text-green-300
    }

    .language-sql .token.keyword {
        @apply text-sky-500
    }

    .language-sql .token.string {
        @apply text-sky-200
    }
}